{{> flash_message }}
<article class="content-page page article i01">
  <main>
    <!-- Intro Section -->
    <section class="lead">
      <div class="lead--inner">
        <h2>{{ title }}</h2>
        <h3>
          <a href="/posts/create">{{ t 'menu.createBlog' }}</a>
        </h3>
      </div>
    </section>
    {{> render_post }}
    <!-- Pagination Controls -->
    <nav class="pagination" aria-label="Page navigation">
      <ul>
        {{#if (gt currentPage 1)}}
        <li>
          <a href="/posts/fyp/{{subtract currentPage 1}}" class="btn-lg">
          {{ t 'menu.previous' }}
          </a>
        </li>
        {{/if}}
        <li>
          <a href="/posts/fyp/{{add currentPage 1}}" class="btn-lg">
          {{ t 'menu.next' }}
          </a>
        </li>
      </ul>
    </nav>
  </main>
</article>
