{{> flash_message }}
<article class="content-page page article i01">
  <main>
    <!-- Intro Section -->
    <section class="intro-section">
      <div class="intro-content">
        <h2>{{ title }}</h2>
        <h3>
          <a href="/posts/create" class="create-blog-link">{{ t 'menu.createBlog' }}</a>
        </h3>
        {{> search_post_box }}
      </div>
    </section>

    <div class="post-section">
      {{> render_post }}
    </div>
    <!-- Pagination Controls -->
    <nav aria-label="Page navigation">
      <div class="flex">
        {{#if (gt currentPage 1)}}
        <div class="pagination-button">
          <a href="/posts/fyp?page={{subtract currentPage 1}}" class="btn-lg">
          {{ t 'menu.previous' }}
          </a>
        </div>
        {{/if}}
        <div class="pagination-button">
          <a href="/posts/fyp?page={{add currentPage 1}}" class="btn-lg">
          {{ t 'menu.next' }}
          </a>
        </div>
      </div>
    </nav>
  </main>
</article>
