<article class="content-page">
  <main>
    <!-- Intro Section -->
    <section class="intro">
      <div class="intro-inner">
        <h2>{{ title }}</h2>
        <h3>
          Explore our top posts!
          <br />
          For the latest updates, check
          <a href="/posts/1">here</a>.
        </h3>
      </div>
    </section>

    <!-- Dynamically Rendered Posts -->
    {{#each posts}}
      <section class="post-summary">
        <div class="post-summary-inner">
          <!-- Image Block (conditionally rendered) -->
          {{#if image}}
            <div class="post-image">
              <img src="{{image}}" alt="Post Image" />
            </div>
          {{/if}}

          <!-- Text Block -->
          <div class="post-text">
            <div class="post-meta">By <a href="/users/{{user.userId}}"> {{user.username}} </a></div>
            <div class="post-content">
              <h3>{{{title}}}</h3>
              <p>
                {{{content}}}
              </p>
              <a href="/posts/detail/{{postId}}" class="btn btn-primary">
                {{ t 'menu.readMore' }}
              </a>
            </div>
          </div>
        </div>
      </section>
    {{/each}}

    <!-- Pagination Controls -->
    <nav class="pagination" aria-label="Page navigation">
      <ul>
        {{#if (gt currentPage 1)}}
          <li><a href="/posts/{{subtract currentPage 1}}">{{ previous }}</a></li>
        {{/if}}
        <li><a href="/posts/{{add currentPage 1}}">{{ next }}</a></li>
      </ul>
    </nav>
  </main>
</article>

<style>

</style>
