<div class="container mt-4">
  {{#if post}}
    <div class="post-detail bg">
      <div class="post-info">
        <p>{{ post.user.username }}</p>
        <p>{{ t 'content.createdAt' }}: {{ post.createdAt }}</p>
      </div>
      <div class="post-info">
      <div>
        <p>
          <i class="fa fa-eye fa-lg"></i> {{ post.stats.views }} {{ t 'content.view'}}
          <i class="fa fa-heart fa-lg"></i> {{ post.stats.likes }} {{ t 'content.like'}}
          <i class="fa fa-comment fa-lg"></i> {{ post.stats.comments }} {{ t 'content.comment'}}
        </p>
      </div>
      <p>{{ t 'content.updatedAt' }}: {{ post.updatedAt }}</p>
    </div>
      <div class="post-content">
        <center><h1>{{ post.title }}</h1></center>
        {{{ post.content }}}
      </div>

      {{#if post.tags.length}}
      <div class="post-tags mt-3">
        <strong>{{ t 'content.tags' }}</strong>
        <ul class="list-inline">
          {{#each post.tags}}
            <li class="list-inline-item">
              <a href="/posts/tag/{{ this.id }}" class="badge badge-primary">{{ this.name }}</a>
            </li>
          {{/each}}
        </ul>
      </div>
      {{/if}}

      {{#if isOwner}}
        <a href="/posts/update/{{post.postId}}" class="btn btn-secondary">{{ t 'menu.edit' }}</a>
      {{/if}}
    </div>

    <!-- Comment Section -->
    <div class="comments-section mt-4">
      <h3>{{ t 'content.comment' }}</h3>
      <!-- Toggle Comment Form Button -->
      <button id="toggleCommentForm" class="btn btn-info mb-3">{{ t 'content.addComment' }}</button>

      <!-- Add Comment Form -->
      <form action="/comments/create" method="POST" id="commentForm" data-post-id="{{ post.postId }}" class="mt-3" style="display: none;">
        <input type="hidden" name="userId" value="{{ session.user.id }}">
        <input type="hidden" name="postId" value="{{ post.postId }}">
        <input type="hidden" name="parentCommentId" value="">
        <div class="form-group">
          <label for="content">{{ t 'content.addComment' }}</label>
          <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">{{ t 'menu.comment' }}</button>
      </form>
      <!-- Comments -->
      {{#if comments.length}}
        <ul class="list-unstyled">
          {{#each comments}}
            <li class="media mb-3">
              <div class="media-body">
                <h5 class="mt-0 mb-1">{{ this.user.username }}</h5>
                <p>{{ this.content }}</p>
                <small>{{ t 'content.createdAt' }}: {{ this.createdAt }}</small>
              </div>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <p>{{ t 'content.noComment' }}</p>
      {{/if}}
    </div>

    <div class="actions mt-4">
      <button class="like-button">
        <i class="fa fa-thumbs-up fa-lg"></i> {{ t 'menu.like' }}
      </button>
      <button class="bookmark-button">
        <i class="fa fa-bookmark fa-lg"></i> {{ t 'menu.bookmark' }}
      </button>
    </div>
  {{else}}
    <p>{{ t 'error.postNotFound' }}</p>
  {{/if}}
</div>
<script src="/js/script.js"></script>
