<!-- This page should be dynamic! -->
<article class="page article i01">
  <main>
    <!-- Intro -->
    <section class="lead">
      <div class="lead--inner">
        <h2>To Free Creative Activity</h2>
        <h3>
          Check out our top posts!
          <br />
          To see our latest posts, check
          <a href="/posts"> here</a>.</h3>
      </div>
    </section>
    {{#each posts}}
    <section class="iv iv01">
      <div class="iv--inner clearfix">
      {{#if imageUrl}}
        <div class="iv--inner--image"><img src="{{imageUrl}}" /></div>
      {{else}}
        <div class="iv--inner--image"><img src="/img/main.jpg" /></div>
      {{/if}}
        <div class="iv--inner--text">
        <div class="iv--inner--text--block">
        <div class="num"><a href="/users/{{user.userId}}">{{user.username}}</a></div>
        <div class="iv--inner--text--block--contents">
          <h3>{{ this.title }}</h3>
          <p>
            {{{truncate (sanitize this.content) 500}}}
            <a href="/posts/detail/{{ this.postId }}" class="btn btn-secondary">{{ t 'menu.readMore' }}</a>
          </p>
        </div>
        </div>
        </div>
        </div>
      </div>
    </section>
    {{/each}}
  </main>
</article>
