<header class="header">
  <div class="header--inner clearfix">
    <div class="header--inner--logo">
      <a href="/"><h1><img src="/logo.png"></h1></a>
    </div>
    <nav class="header--inner--gnav">
      <!-- This list should change dynamically based on user role.-->
      <ul class="clearfix">
        <li><a href="/">{{ t 'header.homepage'  }}</a></li>
        <li><a href="/posts">{{ t 'header.posts' }}</a></li>
        <li><a href="/users">{{ t 'header.users' }}</a></li>
        {{#if userRole}}
          <li><a href="/me">{{ t 'header.myProfile' }}</a></li>
          <li><a href="/logout">{{ t 'header.logOut' }}</a></li>
        {{/if}}
        {{#unless userRole}}
          <li><a href="/login">{{ t 'header.logIn' }}</a></li>
        {{/unless}}
      </ul>
    </nav>
  </div>
</header>
