<div class="container-fluid d-flex flex-wrap bg">
  <div class="profile-banner col-md-3 px-4 py-3">
    <img src="/img/usericon.png" alt="Profile Picture" width="256" height="auto" class="mr-3">
    <p>{{ t 'content.username' }}: {{ user.username }}</p>
    <p>{{ t 'content.role' }}: {{ user.role }}</p>
    <p>{{ t 'content.joined' }}: {{ user.createdAt }}</p>
  </div>

  <div class="col-md-9 px-4 py-3">
    <nav class="mt-4">
      <ul class="nav nav-pills">
        {{#if isOwner}}
        <li class="nav-item">
          <a class="btn btn-info btn-lg edit-profile-link" href="#">{{ t 'menu.edit' }}</a>
        </li>
        {{#if userActive}}
        <li class="nav-item">
          <a class="btn btn-primary btn-lg" href="/posts/create">{{ t 'menu.createBlog' }}</a>
        </li>
        {{/if}}
        {{/if}}

        {{#if userRole}}
          {{#unless isOwner}} <!-- Hide the follow button if viewing own profile -->
            {{#if userActive}}
              {{#if isFollowing}}
              <li class="nav-item">
                <button class="btn btn-warning btn-lg unfollow-btn" data-user-id="{{ user.id }}" data-action="unfollow">{{ t 'menu.unfollow' }}</button>
              </li>
              {{else}}
              <li class="nav-item">
                <button class="btn btn-primary btn-lg follow-btn" data-user-id="{{ user.id }}" data-action="follow">{{ t 'menu.follow' }}</button>
              </li>
              {{/if}}
              <li class="nav-item">
                <a class="btn btn-success btn-lg" href="#">{{ t 'menu.subscribe' }}</a>
              </li>
            {{/if}}
          {{/unless}}
        {{/if}}

        {{#if isAdmin}}
          {{#unless userAdmin}}
            <form class="form" method="POST" action="/users/update/status">
              <div class="form-group">
                <input type="hidden" class="form-control item" id="id" name="id" value="{{ user.id }}">
                <select class="form-control item" id="status" name="status">
                  <option value="{{userStatus.ACTIVE}}">{{ t 'content.active'}}</option>
                  <option value="{{userStatus.DEACTIVE}}">{{ t 'content.deactive'}}</option>
                  <input type="text" class="form-control item" id="reason" name="reason" placeholder="{{ t 'placeholder.deactiveReason'}}">
                  <button type="submit" class="btn btn-primary btn-lg">{{ t 'content.updateInfo' }}</button>
              </div>
            </form>
          {{/unless}}
        {{/if}}
      </ul>
    </nav>

    <!-- Update Profile & Password forms -->
    {{#if isOwner}}
    <form id="edit-profile-form" class="d-none auth-form" method="POST" action="/users/update/profile">
      <div class="form-group">
        <h2>{{ t 'content.updateInfo' }}</h2>
        <input type="hidden" class="form-control item" id="id" name="id" value="{{ user.id }}">
        <input type="text" class="form-control item" id="username" name="username" value="{{ user.username }}">
        <input type="email" class="form-control item" id="email" name="email" value="{{ user.email }}">
        <button type="submit" class="btn btn-primary btn-lg">{{ t 'content.updateInfo' }}</button>
      </div>
    </form>

    <form id="update-password-form" class="d-none auth-form" method="POST" action="/users/update/password">
      <h2>{{ t 'content.updatePassword' }}</h2>
      <div class="form-group">
        <input type="hidden" class="form-control item" id="id" name="id" value="{{ user.id }}">
        <input type="text" class="form-control item" id="oldPwd" name="oldPwd" placeholder="{{t 'placeholder.pwd'}}" required>
        <input type="text" class="form-control item" id="newPwd" name="newPwd" placeholder="{{t 'placeholder.newPwd'}}" required>
        <input type="password" class="form-control item" id="confirmNewPwd" name="confirmNewPwd" placeholder="{{t 'placeholder.confirmNewPwd'}}" required>
      </div>
      <button type="submit" class="btn btn-primary btn-lg">{{ t 'content.updatePassword' }}</button>
    </form>
    {{/if}}

    <!-- Show user's posts -->
    <div class="blog-list">
      {{#if userActive}}
        {{#if userPosts}}
        <div class="row">
          {{#each userPosts}}
            <div class="col-md-6">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="post-header">
                    <h3>{{{ this.title }}}</h3>

                    <!-- If currentUser is the owner, show a form to edit visibility -->
                    {{#if ../isOwner}}
                      <form method="POST" action="/posts/update/{{ this.postId }}/visibility" class="inline-visibility-form">
                        <div>
                          <select class="form-control" id="visible" name="visible" required>
                            <option value="private" {{#if (eq this.visible ../postVisibility.PRIVATE)}}selected{{/if}}>{{ t 'content.private' }}</option>
                            <option value="limited" {{#if (eq this.visible ../postVisibility.LIMITED)}}selected{{/if}}>{{ t 'content.limited' }}</option>
                            <option value="public" {{#if (eq this.visible ../postVisibility.PUBLIC)}}selected{{/if}}>{{ t 'content.public' }}</option>
                            <option value="pinned" {{#if (eq this.visible ../postVisibility.PINNED)}}selected{{/if}}>{{ t 'content.pinned' }}</option>
                          </select>
                          <button type="submit" class="inline-visibile-edit">{{ t 'menu.update' }}</button>
                        </div>
                      </form>
                    {{else}}
                      <p class="post-visibility">{{ this.visible }}</p>
                    {{/if}}

                  </div>
                  <a href="/posts/detail/{{ this.postId }}" class="btn btn-success btn-lg">{{ t 'menu.view' }}</a>
                  {{#if ../isOwner}}
                    <a href="/posts/update/{{ this.postId }}" class="btn btn-warning btn-lg">{{ t 'menu.edit'}}</a>
                    <a href="/posts/delete/{{ this.postId }}" class="btn btn-danger btn-lg">{{ t 'menu.delete'}}</a>
                  {{/if}}
                </div>
              </div>
            </div>
          {{/each}}
        </div>
        {{/if}}
        {{#unless userPosts}}
        <div class="text-center mt-4">
          <p class="h5">{{ t 'error.noBlogFound'}}</p>
        </div>
        {{/unless}}
      {{/if}}
      {{#unless userActive}}
        <p>{{ t 'error.userDeactivated' }}</p>
        <p>{{ t 'content.deactiveReason' }}: {{ user.deactiveReason }}</p>
      {{/unless}}
    </div>
  </div>
</div>
<script src="/js/script.js"></script>
